body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: grey;
}

.static {
  position: absolute;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-image {
  width: 3rem;
}

.selection-container {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 1rem;
  font-family: Arial, sans-serif;
}

.chart-container {
  height: 200px;
  width: 50%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  /* border-top: 1px solid red; */
  z-index: 1000;
}

#day-chart {
  left: 0;
}

#night-chart {
  right: 0;
}

.map-container {
  display: flex;
  height: 100vh;
}

#day-map,
#night-map {
  flex: 1;
  height: 100%;
}

.flower-center {
  stroke: white;
  fill: none;
  opacity: 0.5;
  stroke-width: 1;
}

.petal {
  fill: none;
  /* stroke-width: 2; */
  stroke-linecap: round;
}

.petal-drug {
  stroke: red;
}

.petal-financial {
  stroke: blue;
}

.petal-low_level_property {
  stroke: green;
}

.petal-low_level_violent {
  stroke: orange;
}

.petal-non_criminal {
  stroke: purple;
}

.petal-public_order {
  stroke: cyan;
}

.petal-severe_property {
  stroke: brown;
}

.petal-severe_violent {
  stroke: pink;
}

.petal-sexual_offenses {
  stroke: teal;
}

.petal-weapon {
  stroke: gray;
}

/* texttexttexttexttexttexttexttexttexttext */

#dropdown-container {
  width: 300px;
  position: absolute;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  top: 8rem;
  text-align: center;
  background-color: white;
}

#crime-type-menu {
  list-style: none;
  padding: 0;
}

#crime-type-menu > li {
  margin-bottom: 1rem;
}

.crime-type-title {
  cursor: pointer;
  font-weight: bold;
  font-size: small;
}

.crime-type-title:hover {
  text-decoration: underline;
}

.crime-detailed-list {
  font-size: 0.6rem;
}
